alabaster==0.7.12
commonmark==0.8.1
ipython==7.3.0
ipython-genutils==0.2.0
ipywidgets==7.4.2
jupyter==1.0.0
jupyter-client==5.2.4
jupyter-console==6.0.0
jupyter-core==4.4.0
Markdown==2.6.11
MarkupSafe==1.1.1
matplotlib==3.0.3
nbconvert==5.4.1
nbformat==4.4.0
nb-pdf-template==3.0.3
nbsphinx==0.4.2
numpy==1.16.2
pandocfilters==1.4.2
Pygments==2.7.4
Sphinx==2.0.0
sphinx-markdown-tables==0.0.9
sphinxcontrib-applehelp==1.0.1
sphinxcontrib-devhelp==1.0.1
sphinxcontrib-htmlhelp==1.0.1
sphinxcontrib-jsmath==1.0.1
sphinxcontrib-qthelp==1.0.2
sphinxcontrib-serializinghtml==1.1.1
