alabaster
commonmark
ipython
ipython-genutils
ipywidgets
jupyter
jupyter-client
jupyter-console
jupyter-core
Markdown
MarkupSafe
matplotlib
nbconvert
nbformat
nb-pdf-template
nbsphinx
numpy
pandocfilters
Pygments
Sphinx
sphinx-markdown-tables
sphinxcontrib-applehelp
sphinxcontrib-devhelp
sphinxcontrib-htmlhelp
sphinxcontrib-jsmath
sphinxcontrib-qthelp
sphinxcontrib-serializinghtml
